header{
    width: 1000px;
    background-color: #ffcccc;
}

footer{
    background-color: #ffccff;
    width: 1000px;
}
#wrapper {
    width: 1000px;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
#main{
    background-color: #ccffcc;
    width: 700px;
}
#menu{
    background-color: #ccccff;
    width: 300px;
}
